body {
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 300%;
  padding: 10px 0;
}
.container {
  background-color: #064206b3;
}

#topLine {
  padding-left: 0;
  padding-right: 0;
}
#theSchool {
  text-align: center;
}

#guessMe {
  letter-spacing: 1em;
}
#usedLetters {
  color: red;
}
.graduateFont {
  font-family: "Graduate", cursive;
}
.greenBack {
  background-color: #064206;
}
.customLook {
  background-color: rgb(6, 66, 6);
  color: #fff;
  text-align: center;
}
.whiteText {
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}

.btnStart {
  background-color: rgb(6, 66, 6);
  margin-bottom: 10px;
}
.secondRow {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#winLose {
  padding-top: 20%;
  width: 80%;
}
#schoolPic {
  width: 400px;
}
#schoolSong {
  display: none;
}
.hide {
  display: none;
}
.ballCounter {
  width: 50px;
}
.counterRow {
  height: 50px;
}
